//====================================================================================================

//====================================================================================================

.hero {
    margin-top: 100px;
    height: 620px;
    background: no-repeat 85% center / cover url("../img/hero__bg.jpg") ;
    &__container {
        height: 620px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .hero__content

    &__content {
        max-width: 920px;
        padding: 45px 70px;
        border: 1px solid gold;
        text-align: center;
    }

    // .hero__title

    &__title {
        margin-bottom: 45px;
        font-weight: bold;
        font-size: 64px;
        line-height: 75px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    // .hero__descr

    &__descr {
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
    }
}


//========================================================================================================================================================
